fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
python-dotenv
email-validator
pydantic[email]
bcrypt>=4.0.1,<5.0  # ← version stable explicitement définie
passlib[bcrypt]
httpx
python-jose[cryptography]
requests
pydantic-settings
